version: '3.8'
services:
  web:
    build: .
    ports:
      - "8501:8501"
    environment:
      - DATABASE_URL=mysql+pymysql://root:${MYSQL_PASSWORD}@db:3306/pro_intel_2
    depends_on:
      - db
  db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=pro_intel_2
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
volumes:
  mysql_data:
